# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
*.js
public/
.server/*
!.server/spa-server*.js
.cache/
.temp/
*.d.ts
*.metadata.json

# dependencies
node_modules/
yarn.lock

# IDEs and editors
.idea/

# build tools
coverage/
!gulpfile.js
!karma.conf.js
!postcss.config.js
!protractor.conf.js
!stylelint.config.js

# misc
!config/*.js
npm-debug.log
!src/client/custom-typings.d.ts
