<div [@routeAnimation]>
  <mat-card class="fs-content mat-elevation-z0">
    <mat-card-header>
      <div mat-card-avatar class="card_header__image"></div>
      <mat-card-title>{{ 'ABOUT.ABOUT.CARD_TITLE' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'ABOUT.ABOUT.CARD_SUBTITLE' | translate }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://cdn-images-1.medium.com/max/800/0*g1TwOOdncfeTD2CC.png" alt="universal">
    <mat-card-content>
      <p>
        <strong>{{ 'LIPSUM.WHAT.TITLE' | translate }}</strong>
      </p>
      <p>
        {{ 'LIPSUM.WHAT.CONTENT' | translate }}
      </p>
      <p>
        <strong>{{ 'LIPSUM.WHERE_FROM.TITLE' | translate }}</strong>
      </p>
      <p>
        {{ 'LIPSUM.WHERE_FROM.CONTENT_1' | translate }}
      </p>
      <p>
        {{ 'LIPSUM.WHERE_FROM.CONTENT_2' | translate }}
      </p>
      <p>
        <strong>{{ 'LIPSUM.WHY.TITLE' | translate }}</strong>
      </p>
      <p>
        {{ 'LIPSUM.WHY.CONTENT' | translate }}
      </p>
      <p>
        <strong>{{ 'LIPSUM.WHERE_GET.TITLE' | translate }}</strong>
      </p>
      <p>
        {{ 'LIPSUM.WHERE_GET.CONTENT' | translate }}
      </p>
    </mat-card-content>
  </mat-card>
</div>
