<div class="login mat-elevation-z12">
    <div class="login__header">{{ 'LOGIN.LOG_IN' | translate }}</div>
    <form #form="ngForm" fxLayout="column" fxLayoutAlign="start stretch" class="login__body" (ngSubmit)="form.valid && login()">
        <mat-form-field class="form__control">
            <input matInput required type="text" name="username" [(ngModel)]="username"
                   placeholder="{{ 'LOGIN.USERNAME' | translate }}">
        </mat-form-field>
        <mat-form-field class="form__control">
            <input matInput required type="password" name="password" [(ngModel)]="password"
                   placeholder="{{ 'LOGIN.PASSWORD' | translate }}">
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="!form.valid || isProcessing">
            {{ 'LOGIN.LOG_IN' | translate }}
        </button>
        <p *ngIf="note$ && !error$" class="form__message">{{ note$ | async }}</p>
        <p *ngIf="error$" class="form__message--error">{{ error$ | async }}</p>
    </form>
</div>
