<mat-tab-group [@routeAnimation]>
    <mat-tab label="{{ 'SHARED.TAB.TAB_GENERAL' | translate }}">
        <div class="card--narrow" fxLayout="column" fxFlex="100%">
            <div *ngIf="error$ | async">
                {{ 'COMMON.PAGE.ERROR' | translate }} {{ (error$ | async) }}
            </div>
            <app-card [isProcessing]="isProcessing$ | async"
                      [title]="'AIR_UNIVERSAL.AIRLINE.AIRLINE_DETAIL.PAGE_TITLE'"
                      [data]="airline$ | async">
                <app-airline-detail *ngIf="isProcessing$ | async | falsy"
                                    [airline]="airline$ | async"
                                    (deleteClick)="onDeleteClick($event)"
                                    (saveClick)="onSaveClick($event)">
                </app-airline-detail>
            </app-card>
        </div>
    </mat-tab>
</mat-tab-group>
