<div [@routeAnimation]>
  <mat-progress-bar *ngIf="isProcessing$ | async"
                    class="progress-bar"
                    mode="indeterminate"
                    color="accent">
  </mat-progress-bar>
  <fs-airline-detail-header [isProcessing]="isProcessing$ | async"
                            [renderFlag]="renderFlag$ | async"
                            [baseRoute]="baseRoute"
                            [title]="title$ | async"
                            (deleteClick)="deleteClick()"
                            (saveClick)="saveClick()">
  </fs-airline-detail-header>
  <div *ngIf="error$ | async">
    {{ 'COMMON.PAGE.ERROR' | translate }} {{ (error$ | async) }}
  </div>
  <div fxLayout="column" fxLayoutAlign="stretch">
    <fs-airline-detail-form *ngIf="(isProcessing$ | async) === false"
                            class="fs-content"
                            [airline]="airline$ | async"
                            [resourceReq]="resourceReq$ | async"
                            (resourceRes)="saveResource($event)">
    </fs-airline-detail-form>
  </div>
</div>
