<div fxLayoutAlign="center" [@routeAnimation]>
    <div *ngIf="error$ | async">
        Error: {{ (error$ | async) }}
    </div>
    <app-data-table *ngIf="!(error$ | async)"
                    [data]="airlines$"
                    [isProcessing]="isProcessing$ | async"
                    [cols]="airlineTable.cols"
                    [filterCol]="airlineTable.filterCol"
                    [buttons]="airlineTable.buttons"
                    [options]="airlineTable.options"
                    (refreshClick)="refresh()">
        <app-menu-group cssClass="qa-menu" icon="more_vert" tooltip="PUBLIC.SHARED.ACTION.TOOLTIP">
            <app-menu-item cssClass="qa-menu_item__create" icon="add" text="{{ 'PUBLIC.AIR_UNIVERSAL.AIRLINE.AIRLINE_TABLE.CREATE' | translate }}"
                           (menuClick)="createAirline()">
            </app-menu-item>
        </app-menu-group>
    </app-data-table>
</div>
