<mat-toolbar>
  <mat-toolbar-row class="fs-toolbar" [formGroup]="headerForm" fxLayout="row" fxLayoutGap="16px">
    <mat-form-field class="fs-toolbar__filter" [floatLabel]="'never'" fxLayout="column">
      <input matInput formControlName="filter"
             [placeholder]="'AIR_UNIVERSAL.AIRLINE.HEADER.FILTER' | translate">
    </mat-form-field>
    <span fxFlex></span>
    <div fxLayout="column">
      <button mat-button color="primary" (click)="onCreateClicked()">
        {{ 'AIR_UNIVERSAL.AIRLINE.HEADER.CREATE' | translate }}
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
