<mat-toolbar class="header mat-elevation-z2" color="primary">
    <span>
        <mat-icon class="header__logo">developer_board</mat-icon>
        <span class="header__title">{{ title | translate }}</span>
    </span>
    <span fxFlex></span>
    <button mat-button [routerLink]="['/', '']">
        {{ 'PUBLIC.MENU.HOME' | translate }}
    </button>
    <button mat-button [routerLink]="['/', 'air-universal', 'airlines']">
        {{ 'PUBLIC.MENU.AIR_UNIVERSAL.AIRLINE' | translate }}
    </button>
    <button mat-button [routerLink]="['/', 'about']">
        {{ 'PUBLIC.MENU.ABOUT' | translate }}
    </button>
    <!--<button mat-button [routerLink]="['/', 'about', 'us', 22]">-->
        <!--{{ 'PUBLIC.MENU.ABOUT_US' | translate }}-->
    <!--</button>-->
    <!--<button mat-button [routerLink]="['/', 'about', 'banana']">-->
        <!--{{ 'PUBLIC.MENU.ABOUT_BANANA' | translate }}-->
    <!--</button>-->
    <!--<button mat-button [routerLink]="['/', 'about', 'apple', 6, 'pear']">-->
        <!--{{ 'PUBLIC.MENU.ABOUT_APPLE_PEAR' | translate }}-->
    <!--</button>-->
    <button mat-button [routerLink]="['/', 'secure-page']">
        {{ 'PUBLIC.MENU.SECURE' | translate }}
    </button>
    <span fxFlex></span>
    <a mat-button href="https://www.github.com/ng-seed/universal">
        Github
    </a>
    <ng-container>
        <button *ngIf="!isAuthenticated" class="header__login" mat-icon-button [routerLink]="['/', 'login']">
            <mat-icon>account_circle</mat-icon>
        </button>
        <button *ngIf="isAuthenticated" class="header__logout" mat-icon-button (click)="logout()">
            <mat-icon>lock_outline</mat-icon>
        </button>
    </ng-container>
    <mat-menu #i18nMenu="matMenu" yPosition="below" xPosition="before" [overlapTrigger]="false">
        <button mat-menu-item *ngFor="let language of availableLanguages; trackBy: trackByFn"
                [ngClass]="'i18n_menu__language-' + language.code"
                [routerLink]="['/', 'change-language', language.code]">
            {{ language.name }}
        </button>
    </mat-menu>
    <button mat-icon-button class="header__language" [matMenuTriggerFor]="i18nMenu">
        <mat-icon>language</mat-icon>
    </button>
</mat-toolbar>
