<mat-toolbar class="header mat-elevation-z2" color="primary">
    <span>
        <mat-icon class="header__logo">developer_board</mat-icon>
        <span>{{ title | translate }}</span>
    </span>
    <span fxFlex></span>
    <button mat-button [routerLink]="['/', '']">
        {{ 'PUBLIC.HOME.MENU_TITLE' | translate }}
    </button>
    <button mat-button [routerLink]="['/', 'air-universal', 'airlines']">
        {{ 'PUBLIC.AIR_UNIVERSAL.AIRLINE.MENU_TITLE' | translate }}
    </button>
    <button mat-button [routerLink]="['/', 'about']">
        {{ 'PUBLIC.ABOUT.ABOUT.MENU_TITLE' | translate }}
    </button>
    <!--<button mat-button [routerLink]="['/', 'about', 'us', 22]">-->
        <!--{{ 'PUBLIC.ABOUT.ABOUT_US.MENU_TITLE' | translate }}-->
    <!--</button>-->
    <!--<button mat-button [routerLink]="['/', 'about', 'banana']">-->
        <!--{{ 'PUBLIC.ABOUT.ABOUT_BANANA.MENU_TITLE' | translate }}-->
    <!--</button>-->
    <!--<button mat-button [routerLink]="['/', 'about', 'apple', 6, 'pear']">-->
        <!--{{ 'PUBLIC.ABOUT.ABOUT_APPLE_PEAR.MENU_TITLE' | translate }}-->
    <!--</button>-->
    <button mat-button [routerLink]="['/', 'secure-page']">
        {{ 'PUBLIC.SECURE.MENU_TITLE' | translate }}
    </button>
    <span fxFlex></span>
    <a mat-button href="https://www.github.com/ng-seed/universal">
        Github
    </a>
    <ng-container>
        <button *ngIf="!isAuthenticated" mat-icon-button [routerLink]="['/', 'login']">
            <mat-icon>account_circle</mat-icon>
        </button>
        <button *ngIf="isAuthenticated" class="qa-header__logout" mat-icon-button (click)="logout()">
            <mat-icon>lock_outline</mat-icon>
        </button>
    </ng-container>
    <mat-menu #i18nMenu="matMenu" yPosition="below" xPosition="before" [overlapTrigger]="false">
        <button *ngFor="let language of availableLanguages; trackBy: trackByFn"
                mat-menu-item
                [ngClass]="'header__language-' + language.code"
                [routerLink]="['/', 'change-language', language.code]">
            {{ language.name }}
        </button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="i18nMenu">
        <mat-icon>language</mat-icon>
    </button>
</mat-toolbar>
