<md-toolbar class="mat-elevation-z2" color="primary">
    <span>
        <md-icon class="icon">developer_board</md-icon>
        <span class="title">{{ title | translate }}</span>
    </span>
    <span fxFlex></span>
    <button md-button [routerLink]="['/', '']">
        {{ 'PUBLIC.MENU.HOME' | translate }}
    </button>
    <button md-button [routerLink]="['/', 'about']">
        {{ 'PUBLIC.MENU.ABOUT' | translate }}
    </button>
    <button md-button [routerLink]="['/', 'about', 'us', 22]">
        {{ 'PUBLIC.MENU.ABOUT_US' | translate }}
    </button>
    <button md-button [routerLink]="['/', 'about', 'banana']">
        {{ 'PUBLIC.MENU.ABOUT_BANANA' | translate }}
    </button>
    <button md-button [routerLink]="['/', 'about', 'apple', 6, 'pear']">
        {{ 'PUBLIC.MENU.ABOUT_APPLE_PEAR' | translate }}
    </button>
    <span fxFlex></span>
    <md-menu #i18nMenu="mdMenu" yPosition="below" xPosition="before" [overlapTrigger]="false">
        <button md-menu-item [routerLink]="['/', 'change-language', 'en']">
            {{ 'PUBLIC.MENU.ENGLISH' | translate }}
        </button>
        <button md-menu-item [routerLink]="['/', 'change-language', 'tr']">
            {{ 'PUBLIC.MENU.TURKISH' | translate }}
        </button>
    </md-menu>
    <button md-icon-button [mdMenuTriggerFor]="i18nMenu">
        <md-icon>language</md-icon>
    </button>
</md-toolbar>
