<mat-toolbar class="mat-elevation-z2" color="primary">
    <span>
        <mat-icon class="icon">developer_board</mat-icon>
        <span class="title">{{ title | translate }}</span>
    </span>
    <span fxFlex></span>
    <button mat-button [routerLink]="['/', '']">
        {{ 'PUBLIC.MENU.HOME' | translate }}
    </button>
    <button mat-button [routerLink]="['/', 'about']">
        {{ 'PUBLIC.MENU.ABOUT' | translate }}
    </button>
    <button mat-button [routerLink]="['/', 'about', 'us', 22]">
        {{ 'PUBLIC.MENU.ABOUT_US' | translate }}
    </button>
    <button mat-button [routerLink]="['/', 'about', 'banana']">
        {{ 'PUBLIC.MENU.ABOUT_BANANA' | translate }}
    </button>
    <button mat-button [routerLink]="['/', 'about', 'apple', 6, 'pear']">
        {{ 'PUBLIC.MENU.ABOUT_APPLE_PEAR' | translate }}
    </button>
    <button mat-button [routerLink]="['/', 'secure-page']">
        {{ 'PUBLIC.MENU.SECURE' | translate }}
    </button>
    <span fxFlex></span>
    <a mat-button href="https://www.github.com/ng-seed/universal">
        Github
    </a>
    <button *ngIf="!isAuthenticated" mat-icon-button [routerLink]="['/', 'login']">
        <mat-icon>account_circle</mat-icon>
    </button>
    <button *ngIf="isAuthenticated" mat-icon-button (click)="logout()">
        <mat-icon>lock_outline</mat-icon>
    </button>
    <mat-menu #i18nMenu="matMenu" yPosition="below" xPosition="before" [overlapTrigger]="false">
        <button mat-menu-item [routerLink]="['/', 'change-language', 'en']">
            {{ 'PUBLIC.MENU.ENGLISH' | translate }}
        </button>
        <button mat-menu-item [routerLink]="['/', 'change-language', 'tr']">
            {{ 'PUBLIC.MENU.TURKISH' | translate }}
        </button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="i18nMenu">
        <mat-icon>language</mat-icon>
    </button>
</mat-toolbar>
