@import '~src/assets/sass/component/mat-card';
@import '~src/assets/sass/component/mat-table';
@import '~src/assets/sass/component/mat-toolbar';
@import '~src/assets/sass/component/scrollable';
@import '~src/assets/sass/mixin/bem';

:host {
  display: flex;
  max-width: 100%;
  flex: 1 1 100%;
  flex-direction: column;
  box-sizing: border-box;
}

.toolbar {
  @include mat_toolbar;

  @include el('row') {
    @include mod('has-filter') {
      border-right: rem(0.1) solid $black-12-opacity;
    }
  }

  @include el('title') {
    @include soft--right($space--lg);

    font-size: $font-size;
    min-width: rem(14.4);
  }

  @include el('filter') {
    @include soft--sides($space--lg);

    font-size: $font-size;
    max-width: calc(100% - #{rem(14.4)});
  }
}

.data_table {
  @include mat_card;

  @include el('button') {
    flex: 0 0 5%;

    @include mod('row') {
      color: c(grey);
      text-align: right;
    }
  }
}

.paginator {
  font-size: $font-size;
  background: c(grey, alabaster);
}
