<mat-card class="data_table">
    <mat-toolbar *ngIf="options.title">
        <mat-toolbar-row>
            <span [ngClass]="filterCol ? 'data_table--filtered' : ''">
                <mat-icon *ngIf="options.icon" class="data_table__icon">{{ options.icon }}</mat-icon>
                <span class="data_table__title">{{ options.title | translate }}</span>
            </span>
            <span *ngIf="filterCol" class="data_table__filter" fxFlex>
                <mat-form-field floatPlaceholder="never" fxFlex="100%" fxLayoutGap="5%">
                    <input #filter matInput placeholder="{{ 'PUBLIC.SHARED.DATA_TABLE.FILTER' | translate }}">
                </mat-form-field>
            </span>
            <span fxFlex></span>
            <span>
                <button class="data_table__refresh"
                        mat-icon-button
                        matTooltip="{{ 'PUBLIC.SHARED.WIDGET.REFRESH.TOOLTIP' | translate }}"
                        matTooltipPosition="below"
                        (click)="onRefresh(refreshClick)">
                    <mat-icon>refresh</mat-icon>
                </button>
            </span>
            <span *ngFor="let group of menuGroups; trackBy: trackByFn">
                <mat-menu #menu="matMenu" yPosition="below" xPosition="before" [overlapTrigger]="false">
                    <button *ngFor="let item of group.items; trackBy: trackByFn" mat-menu-item (click)="onClick(item.menuClick)">
                        <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
                        <span>{{ item.label }}</span>
                    </button>
                </mat-menu>
                <button class="data_table__menu"
                        mat-icon-button
                        matTooltip="{{ group.tooltip | translate }}"
                        matTooltipPosition="below"
                        [matMenuTriggerFor]="menu">
                    <mat-icon>{{ group.icon }}</mat-icon>
                </button>
            </span>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="content-container ps {{ options.scrollable ? 'scrollable-' + options.scrollable : '' }}"
         style="position: relative;"
         [perfectScrollbar]>
        <mat-table #table
                   *ngIf="dataSource"
                   class="table table-hover table-striped {{ options.condensed ? 'table-condensed' : '' }}"
                   matSort
                   matSortActive="_id"
                   matSortDisableClear
                   matSortDirection="asc"
                   [dataSource]="dataSource">
            <ng-container *ngFor="let col of cols; trackBy: trackByFn" [matColumnDef]="getColumnDef(col)">
                <ng-container *ngIf="!disableSort">
                    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true" fxFlex>
                        {{ col.label | translate }}
                    </mat-header-cell>
                </ng-container>
                <ng-container *ngIf="disableSort">
                    <mat-header-cell *matHeaderCellDef fxFlex>
                        {{ col.label | translate }}
                    </mat-header-cell>
                </ng-container>
                <ng-container *ngIf="!col.translate">
                    <mat-cell *matCellDef="let row" fxFlex>
                        {{ getValue(row, col) }}
                    </mat-cell>
                </ng-container>
                <ng-container *ngIf="col.translate">
                    <mat-cell *matCellDef="let row" fxFlex>
                        {{ getValue(row, col) | translate }}
                    </mat-cell>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="buttons" matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef class="data_table__button" fxFlex></mat-header-cell>
                <mat-cell *matCellDef="let row" class="data_table__button--row" fxLayoutAlign="end center" fxFlex>
                    <mat-menu #rowMenu="matMenu" yPosition="below" xPosition="before" [overlapTrigger]="false">
                        <ng-container *ngFor="let button of buttons; trackBy: trackByFn"
                                      [ngSwitch]="button.type">
                            <button *ngSwitchCase="'button'" mat-menu-item (click)="button.menuClick(getParams(row, button))">
                                <mat-icon *ngIf="button.icon">{{ button.icon }}</mat-icon>
                                <span>{{ button.label | translate }}</span>
                            </button>
                            <button *ngSwitchCase="'link-button'" mat-menu-item [routerLink]="getRoute(row, button)">
                                <mat-icon *ngIf="button.icon">{{ button.icon }}</mat-icon>
                                <span>{{ button.label | translate }}</span>
                            </button>
                        </ng-container>
                    </mat-menu>
                    <button mat-icon-button
                            matTooltip="{{ 'PUBLIC.SHARED.ACTION.TOOLTIP' | translate }}"
                            matTooltipPosition="below"
                            [matMenuTriggerFor]="rowMenu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columns;"></mat-row>
        </mat-table>
    </div>
    <mat-divider></mat-divider>
    <mat-paginator *ngIf="!disablePaginator"
                   #paginator
                   class="data_table__paginator"
                   [pageIndex]="0"
                   [pageSize]="20"
                   [pageSizeOptions]="[20, 50, 100]"
                   [showFirstLastButtons]="true">
    </mat-paginator>
    <app-loading-overlay [isProcessing]="isProcessing"></app-loading-overlay>
</mat-card>
