@import '../shared/smoothing';

%truncated {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin font($font, $color: false, $tt: false, $td: false, $ls: false) {
  @extend %antialiased;

  font: $font;

  @if $color {
    color: $color;
  }

  @if $tt {
    text-transform: $tt;
  }

  @if $td {
    text-decoration: $td;
  }

  @if $ls {
    letter-spacing: $ls;
  }
}

@mixin truncate($truncation-boundary: false) {
  @if $truncation-boundary {
    max-width: $truncation-boundary;
  }

  @extend %truncated;
}
