@import '../mixins';

* {
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  @include font(#{$font-size--root}/normal $font--preferred, null, null, null, rem(-0.01));
}

body {
  font-size: $font-size;
}

html,
body {
  @extend %antialiased;
}

// link defaults
a {
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

// reset non angular-material input's default browser/os styles
button {
  @extend %flush;
  @extend %hard;
  @include font(inherit inherit);

  border-radius: 0;
  appearance: none;
}

*:not(mat-input-container) {
  > input[type='text'],
  > input[type='tel'],
  > input[type='email'],
  > input[type='search'],
  > input[type='password'],
  > input[type='button'],
  > button,
  > input[type='submit'],
  > input[type='image'],
  > textarea {
    @extend %flush;
    @extend %hard;

    border: none;
    border-radius: 0;
    appearance: none;
  }
}

// remove focus outline
*:focus {
  outline: none;
}
