<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8"/>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <% if (webpackConfig.htmlElements.headTags) { %>
    <%= webpackConfig.htmlElements.headTags %>
    <% } %>
</head>
<body>
<app-root>
    <div class="splash-screen">
        <div class="container">
            <div>ng-seed/universal is loading...</div>
        </div>
    </div>
</app-root>
<% if (webpackConfig.htmlElements.bodyTags) { %>
<%= webpackConfig.htmlElements.bodyTags %>
<% } %>
</body>
</html>
