@import '../func/color';
@import '../func/depth';
@import '../mixin/bem';
@import '../mixin/positioning';
@import '../mixin/spacing';
@import '../mixin/typography';
@import '../variables/theme';

.splash_screen {
  @include absolute(0);

  z-index: z('splash-screen');
  display: block;
  background-color: mat-color($primary--dark);

  @include el('overlay') {
    @include absolute(50% null null);

    display: block;
    width: 100%;
    transform: translateY(-50%);
  }

  @include el('content') {
    @include push(0 auto);
    @include font(#{$h1}/#{rem(9.6)} $font--preferred, c(white));

    text-align: center;
  }
}
