@import '../func/color';
@import '../func/rem';
@import '../mixin/bem';
@import '../mixin/spacing';
@import '../mixin/typography';
@import '../variables/typography';

$padding: $space--lg;
$padding--condensed: $padding/2;
$background--accent: c(grey, concrete);
$background--hover: $black-12-opacity;
$border_color: $black-12-opacity;

.table {
  @include el('row') {
    @include soft($space--xs $padding--condensed);

    border-bottom: 0;

    &:nth-child(odd) {
      background: $background--accent;
    }

    &:hover {
      background: $background--hover;
    }

    @include mod('header') {
      @include soft--sides(rem(0.6));

      border-bottom: rem(0.1) solid $border_color;
    }

    @include mod('is-condensed') {
      @include soft(0 $padding--condensed);
    }
  }

  @include el('cell') {
    font-size: $font-size;

    &:first-child {
      @extend %hard--left;
    }

    &:last-child {
      @extend %hard--right;
    }

    @include mod('header') {
      @include font($font--normal $font-size $font--preferred, c(grey));
    }
  }
}
