@import '~@angular/material/theming';
@import 'shared';

/**
 * Depth
 */
$z-indexes: (
  splash-screen
);

/**
 * Spacing units
 */
$spacing-units: (
  base: rem(1),
  xs: rem(0.4),
  sm: rem(0.8),
  md: rem(1.2),
  lg: rem(1.6),
  xl: rem(2.4),
  xxl: rem(3.2)
);

$space--base: map-get($spacing-units, base) !default;
$space--xs: map-get($spacing-units, xs) !default;
$space--sm: map-get($spacing-units, sm) !default;
$space--md: map-get($spacing-units, md) !default;
$space--lg: map-get($spacing-units, lg) !default;
$space--xl: map-get($spacing-units, xl) !default;
$space--xxl: map-get($spacing-units, xxl) !default;

// default
$space: map-get($spacing-units, base) !default;

/**
 * Typography
 */
$font--preferred: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
$font--console: 'Monaco', 'Menlo', 'Consolas', 'Ubuntu Mono', monospace;

$font-weights: (
  //ultra-light: 100,
  //light: 200,
  //book: 300,
  normal: 400,
  medium: 500,
  //semibold: 600,
  //bold: 700,
  //black: 800,
  //ultra-black: 900
);

$font--normal: map-get($font-weights, normal) !default;
$font--medium: map-get($font-weights, medium) !default;

$font-sizes: (
  base: 1.6rem,
  root: 62.5%,
  h1: rem(2.4), // headline
  h2: rem(2),   // title
  h3: rem(1.6), // subheading
  h4: rem(1.4), // body
  h5: rem(1.3),
  h6: rem(1.2),
);

$font-size--root: map-get($font-sizes, base) !default;
$font-size--base: map-get($font-sizes, root) !default;
$h1: map-get($font-sizes, h1) !default;
$h2: map-get($font-sizes, h2) !default;
$h3: map-get($font-sizes, h3) !default;
$h4: map-get($font-sizes, h4) !default;
$h5: map-get($font-sizes, h5) !default;
$h6: map-get($font-sizes, h6) !default;

// default
$font-size: map-get($font-sizes, base) !default;

/**
 * Colors
 */
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-deep-purple, A200, A100, A400);
$warn: mat-palette($mat-red);

// Material colors
$mat-colors: (
  red: $mat-red,
  pink: $mat-pink,
  purple: $mat-purple,
  deep-purple: $mat-deep-purple,
  indigo: $mat-indigo,
  blue: $mat-blue,
  light-blue: $mat-light-blue,
  cyan: $mat-cyan,
  teal: $mat-teal,
  green: $mat-green,
  light-green: $mat-light-green,
  lime: $mat-lime,
  yellow: $mat-yellow,
  amber: $mat-amber,
  orange: $mat-orange,
  deep-orange: $mat-deep-orange,
  brown: $mat-brown,
  grey: $mat-grey,
  blue-grey: $mat-blue-grey
);

// Colors shorthand
$ui-colors: (
  black: (
    base: black
  ),
  grey: (
    base: rgba(119, 119, 119, 1),
    boulder: rgba(117, 117, 117, 1),
    slate: rgba(122, 139, 147, 1),
    emperor: rgba(81, 70, 73, 1),
    gallery: rgba(238, 238, 238, 1),
    mercury: rgba(229, 229, 229, 1),
    concrete: rgba(242, 242, 242, 1),
    alabaster: rgba(250, 250, 250, 1)
  ),
  white: (
    base: white
  ),
);

/**
 * Theme specific
 */
// colors
$primary-light: mat-palette($mat-indigo, 300);
$primary-dark: mat-palette($mat-indigo, 700);
